<!doctype html>
<html lang="ko">
	<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/blog.css"/>
    <title>All about Cafe - CafePicks</title>
        
    <style>
        .bgimg::before{
            background-image:url("../../static/images/comingsoon_bg.jpg");
        }
        </style>
	</head>
	<body>
        <div class="bgimg">
          <div class="topleft">
            <img src="../../static/images/main_logo.png">
          </div>
          <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
            <p>Cafepick will be come</p>
          </div>
          <div class="bottomleft">
            <p>010 2749 6469 | goujung@go-nom.com</p>
          </div>
        </div>

        </body>
</html>
