body, html {
  height: 100%;
  margin: 0;
}

.bgimg {

  height: 100%;

  position: relative;
  color: BLACK;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

  .bgimg::before{
    background-position: center;
    background-size: cover;
    content: "";
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
  }

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}